# Entornos virtuales
venv/
env/
.venv/
.conda/
*.egg-info/

# Archivos de configuración sensibles
.env

# Archivos de caché y compilados
__pycache__/
*.pyc
*.pyo

# Logs y archivos temporales
*.log
logs/

# Archivos de sistema
.DS_Store
Thumbs.db

# Documentación generada
/docs/build/
